/* Set default styles for all screen sizes */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

/* Adjust styles for screens smaller than 768px */
@media (max-width: 767px) {
	body {
		font-size: 14px;
	}
}

/* Adjust styles for screens between 768px and 1024px */
@media (min-width: 768px) and (max-width: 1023px) {
	body {
		font-size: 16px;
		max-width: 960px;
		margin: 0 auto;
	}
}

/* Adjust styles for screens larger than 1024px */
@media (min-width: 1024px) {
	body {
		font-size: 18px;
		max-width: 3000px;
		margin: 0 auto;
		background-color: white;
	}
}
.flex-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 46px;
	background-color: black;
}
.flex-box-2 {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1266px;
	height: 67.15px;
	background-color: white;
}
.margins{
	margin-left: auto;
	margin-right: auto;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 60%;
	height: 100%;
	background-color: black;
	color: white;
	font-size: 1.28rem;
}
.container-2 {
	display: flex;
	flex-direction: flex-start;
	align-items: center;
	justify-content: center;
	flex-flow: row;
	width: 20%;
	height: 100%;
	background-color: black;
	color: white;
	font-size: 1.28rem;
}
.blue{
	background-color: blue;
	width: auto;
}
.text-nav{
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.container-BBC {
	text-decoration: none;
	color: black;
	display: flex;
	align-items: center;
	justify-self: center;
	font-size: 1.28rem;
	font-weight: bold;
	margin-left: 25%;
}
.container-BBC-square {
	margin-right: 5px;
	display: flex;
	align-items: center;
	justify-self: center;
	width: 30px;
	height: 25px;
	background-color: white;
	text-align: center;
}
.borderbottom {
	border-bottom: 0.666px solid #e7e7e7;
}
.borderleft {
	border-left: 0.666px solid #e7e7e7;
}
.borderright {
	border-right: 0.666px solid #e7e7e7;
}