<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormData</title>
</head>
<style>
    body {
        background-color: grey;
        color: white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div {
        margin-top: 20%;
    }


    p {
        overflow: auto;
        width: 10%;
        border: black 2px solid;
        background-color: white;
        margin: auto;
        color: grey;
    }
</style>

<body class="div">
    <p>FormData </p>
    <p>1: <%= data.field1 %>
    </p>
    <p>2: <%= data.field2 %>
    </p>
    <p>3: <%= data.field3 %>
    </p>
</body>

</html>