body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.font_roboto {
	font-family: 'Roboto', sans-serif;
}
.font_alumni {
	font-family: 'Alumni Sans Collegiate One', sans-serif;
}
.maly_image {
	width: 30%;
	height: 30%;
}
.margin_dol {
	margin-bottom: 5vh;
}
table,
td {
	border: 1px solid #333;
}
.niebieskibordertabeli {
	border: 10px solid blue;
}

thead,
tfoot {
	background-color: #333;
	color: #fff;
}

td,
th {
	border: 1px solid rgb(190, 190, 190);
	padding: 10px;
}

td {
	text-align: center;
}
.zajecia1 {
	background-color: red;
}
.zajecia2 {
	background-color: green;
}

.universities {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.university {
	flex: 1;
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px;
}
