body {
	background-color: #e3e6e6;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	margin: 0;
	padding: 0;
}
.header {
	background-color: #141921;
	height: 88px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-logo {
	float: left;
	margin: 1vh 1vw;
	position: absolute;
	left: 0;
	margin-left: 3vw;
	top: 0;
}
.search-bar {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}
.search-bar input {
	width: 828.8px;
	height: 2vh;
	border: none;
	border-radius: 5px;
	padding: 0 1vw;
	font-size: 1.5rem;
}
.search-bar button {
	width: 5%;
	height: 2vh;
	border: none;
	border-radius: 5px;
	background-color: #febd69;
	margin-left: 0vw;
}
.search-bar select {
	width: 150px;
	height: 2vh;
	border: none;
	border-radius: 5px;
	background-color: #e3e6e6;
	margin-left: 0vw;
}
.nav-right {
	display: flex;
	float: right;
	align-items: flex-end;
	flex-flow: row;
}

div > a {
	text-decoration: none;
	color: #ffffff;
	font-size: 1rem;
	margin: 0 1vw;
}
div > a:hover {
	color: #febd69;
}
.teskts {
	color: #ffffff;
	font-size: 0.5rem;
	margin: 0 1vw;
}
.big_box {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	top: -20vh;
}

.box_for_books {
	width: 60%;
	height: 30%;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-top: -3px;
}
.mniejszy {
	width: 100%;
	height: 80%;
}
.mniejszy2 {
	width: 80%;
	height: 100%;
}
